@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Code Next Bold';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Code Next Regular';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Regular.otf);
    font-weight: normal;
}

[element-anime] {
    opacity: 0;
    transition: .7s;
    z-index: -1;
}

[element-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[element-anime="appear"] {
    transform: translate3d(0, 0, 0);
}

[element-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[element-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[element-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[element-anime="bottom"] {
    transform: translate3d(0, 150px, 0);
}

[element-anime="bottomLeft-to-topRight"] {
    transform: translateY(100px) translateX(-100px);
}

[element-anime="topLeft-to-bottomRight"] {
    transform: translateY(-100px) translateX(-100px);
}


/* ------------------------------------------------------------
criação de scrolls de todas as telas da dash */

.box-style1::-webkit-scrollbar,
.box-style2::-webkit-scrollbar,
#Logs::-webkit-scrollbar,
.data-center-content::-webkit-scrollbar,
.container-data-info::-webkit-scrollbar {
    width: 5px;
}

#Content.scrollable::-webkit-scrollbar {
    height: 7px;
}

.box-style1::-webkit-scrollbar-thumb,
.box-style2::-webkit-scrollbar-thumb,
#Logs::-webkit-scrollbar-thumb,
.data-center-content::-webkit-scrollbar-thumb,
#Content.scrollable::-webkit-scrollbar-thumb,
.container-data-info::-webkit-scrollbar-thumb {
    background: #00000055;
    backdrop-filter: blur();
    box-shadow: 0px 23px 50px 0px rgba(0, 0, 0, 0.29), 0px 90px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
    border-radius: 50px;
}

.box-style1::-webkit-scrollbar-track,
.box-style2::-webkit-scrollbar-track,
#Logs::-webkit-scrollbar-track,
.data-center-content::-webkit-scrollbar-track,
#Content.scrollable::-webkit-scrollbar-track,
.container-data-info::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}

/* ------------------------------------------------------------ */



body {
    width: 100vw;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
    overflow: hidden;
}

a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(108deg, #B4DCEC 0%, rgba(255, 255, 255, 0.95) 100%);
    gap: 4vw;
}

nav {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 10vw;
    height: 90vh;
    border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
    background-color: #096B85;
    box-shadow: 12px 0px 27px 0px rgba(117, 116, 131, 0.20), 49px 0px 49px 0px rgba(117, 116, 131, 0.17), 109px 0px 66px 0px rgba(117, 116, 131, 0.10), 194px 0px 78px 0px rgba(117, 116, 131, 0.03), 304px 0px 85px 0px rgba(117, 116, 131, 0.00);
    overflow-x: hidden;
    padding-left: 1%;
    transition: .6s;
}

nav.opened {
    width: 12vw;
    height: 100vh;
    border-radius: 0;
    padding-left: 0;
    transition: .6s;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: 50vh;
    transition: .6s;
}

nav.opened ul {
    height: 70vh;
    align-items: center;
    transition: .6s;
}

nav ul span:first-of-type {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

nav ul>span a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

nav.opened ul>span a {
    gap: 2vh;
}

nav ul>span a>text {
    display: none;
    font-size: 10px;
    font-weight: 700;
}

nav.opened ul>span a>text {
    display: flex;
}

nav ul a>img {
    max-width: calc(43%);
    transition: 0.6s;
}

nav ul a>img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.6s;
}

#Expand {
    position: absolute;
    max-width: 20px;
    top: center;
    right: 1vw;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    width: 91vw;
    height: 100vh;
    gap: 1vh;
    padding: 1vw 2vw 2vw 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: transparent;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

header div>img {
    max-height: 20px;
}

header div>input {
    width: 20vw;
    height: 4vh;
    color: #747483;
    font-size: 11px;
    font-weight: bold;
    border: 2px solid #7c7a9f;
    border-radius: 10px;
    padding: 2px 15px;
    transition: 0.6s;
    outline: none;
}

section header img {
    max-width: 35px;
    transition: 0.6s;
}

section header img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.6s;
    cursor: pointer;
}

#Content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 85vh;
    gap: 1vw;
}

h1 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    color: #096B85;
}

h2 {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 2vh;
}

.container-randow,
.column .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33%;
    gap: 0.8vw;
}

.column .box-header {
    height: 10vh;
}

.box-header div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.box-header div img {
    max-width: 20px;
    transition: 0.6s;
    cursor: pointer;
}

.box-header div img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1) rotate(-180deg);
    transition: 0.6s;
    cursor: pointer;
}

.box-header.input-ok div img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1) rotate(180deg);
    transition: 0.6s;
    cursor: pointer;
}

select {
    width: 70%;
    height: 100%;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #7c7a9f;
    border-radius: 1px;
    padding: 2px;
    outline: none;
}

select.changed {
    display: none;
}

#Logs .box-header input,
.box-header input.changed {
    display: flex;
}

.box-header input {
    display: none;
    text-align: end;
    width: 100%;
    height: 100%;
    color: #747483;
    font-size: 11px;
    font-weight: bold;
    background-image: url(/site-performee/public/assets/icons/pesquisa-icone.png);
    background-size: 15px;
    background-position: calc(5%) center;
    background-repeat: no-repeat;
    border: 2px solid #7c7a9f;
    border-radius: 10px;
    padding: 2px 15px;
    transition: 0.6s;
    outline: none;
}

.box-header input:hover,
header div>input:hover {
    color: #6a5286;
    border: 2px solid #6a5286;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.6s;
}

.box-header input:focus,
header div>input:focus {
    color: #6a5286;
    border: 2px solid #6a5286;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.box-header.input-ok input {
    display: flex;
}

select,
option {
    font-weight: bold;
    line-height: 1.2;
    color: #096B85;
}

.box-style1,
.box-style2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    background: linear-gradient(100deg, #096B85 1.77%, #0493B1 97.24%);
    box-shadow: rgba(117, 116, 131, 0.09) 0px 2px 1px, rgba(117, 116, 131, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden scroll;
}


.column:last-of-type .box-style1 .content-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 16vh;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 10px;
    padding: 2px 1rem;
}

.box-style2 {
    height: 30% !important;
}

#Content .column:last-of-type .container-randow .box-style1 {
    height: 100%;
    background: linear-gradient(90deg, #096B85 0%, #0493B1 100%);
    box-shadow: 0px 5px 10px 0px rgba(117, 116, 131, 0.15), 0px 19px 19px 0px rgba(117, 116, 131, 0.13), 0px 43px 26px 0px rgba(117, 116, 131, 0.08), 0px 76px 30px 0px rgba(117, 116, 131, 0.02), 0px 118px 33px 0px rgba(117, 116, 131, 0.00);
}

#Logs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 75%;
    border-radius: 10px;
    background: linear-gradient(90deg, #096B85 0.01%, #0493B1 98.45%);
    box-shadow: 9px 8px 27px 0px rgba(117, 116, 131, 0.15), 38px 32px 50px 0px rgba(117, 116, 131, 0.13), 85px 73px 67px 0px rgba(117, 116, 131, 0.08), 152px 130px 80px 0px rgba(117, 116, 131, 0.02), 237px 203px 87px 0px rgba(117, 116, 131, 0.00);
    gap: 10px;
    padding: 1rem;
    overflow: hidden scroll;
}

.column:last-of-type #Logs .box-header {
    display: flex;
    width: 100%;
    height: 20%;
}

.box-content,
#LogContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.content-info,
.log-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7vh;
    color: #000;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(255, 255, 255, .95);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-radius: 10px;
    padding: 2px 1rem;
}

.log-box {
    position: relative;
    height: 12vh;
    font-size: 10px;
    font-weight: normal;
    gap: 10px;
}

.log-box>span:first-of-type {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 6px;
}

.log-box>p:nth-of-type(2) {
    width: 40%;
}

.log-box>p:first-of-type,
.log-box>p:last-of-type {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    line-height: 15px;
    font-weight: 700;
    width: 30%;
}

.content-info>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.content-info>div span {
    width: 100px;
    height: 10px;
    border: 1px solid #000;
}


/* pagina de datacenters */
#Content.scrollable {
    width: 83vw;
    gap: 3vw;
    overflow: scroll hidden;
}

.column-data-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
    gap: 10px;
}

.column-data-center>div:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.column-data-center>div:first-of-type>a {
    color: #096B85;
    font-weight: 500;
}

.column-data-center>div:first-of-type>img {
    max-width: 25px;
    transition: .6s;
}

.column-data-center>div:first-of-type>img:hover {
    transition: .6s;
    animation: shake 2s infinite;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: translate3d(0, 0, 0);
    }

    10%,
    90% {
        transform: translate3d(-0.5px, 0, 0) scale(1.05);
    }

    20%,
    80% {
        transform: translate3d(1px, 0, 0) scale(1.05);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-1px, 0, 0) scale(1.05);
    }

    40%,
    60% {
        transform: translate3d(1px, 0, 0) scale(1.05);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.data-center-content {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 100%;
    color: #000;
    border-radius: 10px;
    background: linear-gradient(180deg, #096B85 0%, #0493B1 100%, rgba(152, 151, 151, 0.00) 100%);
    box-shadow: 0px 12px 26px 0px rgba(117, 116, 131, 0.59), 0px 47px 47px 0px rgba(117, 116, 131, 0.51), 0px 106px 64px 0px rgba(117, 116, 131, 0.30), 0px 189px 76px 0px rgba(117, 116, 131, 0.09), 0px 296px 83px 0px rgba(117, 116, 131, 0.01);
    gap: 1vh;
    padding: 1rem;
    overflow: hidden scroll;
}

.data-center-content .container-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.data-center-content .container-info:first-child div {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    width: 100%;
    height: 23vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, .95);
    gap: 2vh;
    padding: 5px;
}

.data-center-content .container-info:first-child div .isActive {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #000;
    top: 7px;
    right: 7px;
}

.data-center-content .container-info:first-child div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
}

.data-center-content .container-info:first-child div>span img {
    max-width: 80px;
}

.data-center-content .container-info:first-child div>div {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    background: transparent;
    padding: 6px;
}

.data-center-content .container-info div>div a {
    width: 100%;
    color: #096B85;
    font-weight: 700;
    letter-spacing: 1px;
}

.info-server {
    display: flex;
    flex-direction: row !important;
    width: 100% !important;
    height: 100%;
    padding: 0 !important;
}

.info-server>span {
    flex-direction: column;
    justify-content: start !important;
    width: 50% !important;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    gap: 4vh;
}

.info-server>span text {
    width: 100%;
}


/* pagina datacenter especifico */
.container-data-info {
    width: 52vw;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #096B85 0%, #0493B1 100%, rgba(152, 151, 151, 0.00) 100%);
    box-shadow: 0px 12px 26px 0px rgba(117, 116, 131, 0.59), 0px 47px 47px 0px rgba(117, 116, 131, 0.51), 0px 106px 64px 0px rgba(117, 116, 131, 0.30), 0px 189px 76px 0px rgba(117, 116, 131, 0.09), 0px 296px 83px 0px rgba(117, 116, 131, 0.01);
    padding: 1rem;
    overflow: hidden scroll;
}

#Logs.porDataCenter-log {
    width: 30vw;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #096B85 0%, #0493B1 100%);
    box-shadow: 0px 12px 26px 0px rgba(117, 116, 131, 0.59), 0px 47px 47px 0px rgba(117, 116, 131, 0.51), 0px 106px 64px 0px rgba(117, 116, 131, 0.30), 0px 189px 76px 0px rgba(117, 116, 131, 0.09), 0px 296px 83px 0px rgba(117, 116, 131, 0.01);
    padding: 1rem;
    overflow: hidden scroll;
}

#Logs.porDataCenter-log > .box-header {
    display: flex;
    justify-content: space-between;
}

#Logs.porDataCenter-log select {
    width: 100%;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25vh;
    padding: 5px;
    gap: 1vw;
}

.content-row>.box-server {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 100%;
    background-color: rgb(255, 255, 255, .95);
    border-radius: 10px;
    padding: 10px;
}

.box-server>a {
    color: #096B85;
    font-weight: 700;
    font-size: 15px;
}

.box-server>.details-server {
    display: flex;
    width: 100%;
    height: 90%;
    color: #000;
    font-size: 11px;
    padding: 10px;
}

.box-server>.details-server>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

.box-server>.details-server>div h3 {
    font-weight: 600;

}

.box-server>.details-server>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-server>.details-server>div>ul {
    width: 85%;
    height: 100%;
}

.box-server>.details-server>div>ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}

.box-server>.details-server>div>ul li:nth-child(5) {
    margin-bottom: 10px;
}

.box-server>.details-server>div>ul li:last-of-type>span {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #000;
}