header {
    width: 100vw;
    height: 94vh;
    box-shadow: 0px 10px 43px 0px rgba(0, 0, 0, 0.69), 0px 20px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
    gap: 5vh;
    padding: 2rem;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 94vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur();
    top: 0;
    left: 0;
}

#Nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
}


#Nav.ativa {
    justify-content: center;
    align-items: center;
    background-color: rgba(4, 147, 177, 0.8);
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.89), 0px 90px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
}

#Nav div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#Nav div img {
    max-width: 45px;
}

#Nav div .menu-hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    gap: 9px;
}

.menu-hamburguer span {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #FFF;
    transition: 0.6s;
}

/* 
#Line1.ative,
#Line2.ative,
#Line3.ative {
    background-color: #096B85;
    transition: 0.6s;
} */

#Line1.clicked {
    width: 35px;
    transform: rotate(45deg) translate(5px, 7px);
}

#Line2.clicked {
    opacity: 0;
}

#Line3.clicked {
    width: 35px;
    transform: rotate(-45deg) translate(10px, -12px);
}

.navbar-options {
    position: absolute;
    flex-direction: column;
    gap: 0;
    left: 100%;
    top: 10vh;
    transition: 0.6s;
}

.navbar-options.clicked {
    left: 0;
}

.navbar-options li {
    width: 100vw;
    padding: 0.5rem 2rem;
}

#Nav .navbar-options li {
    background-color: rgb(00, 00, 00, .1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    transition: .6s;
}

#Nav.ativa .navbar-options li {
    background-color: rgba(255, 255, 255, .8);
    box-shadow: rgba(255, 255, 255, 0.37);
    border-bottom: 1px solid rgba(4, 147, 177);
}

#Nav .navbar-options li a {
    background-image: linear-gradient(to right, #7F6E9B, #7F6E9B 50%, #FFF 50%);
}

#Nav.ativa .navbar-options li a {
    background-image: linear-gradient(to right, #7F6E9B, #7F6E9B 50%, #096B85 50%);
}

#Nav.ativa .navbar-options li:last-of-type {
    box-shadow: 0px 3px 7px 0px rgba(4, 147, 177, 0.4);
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10vh;
}

.header-content h1 {
    font-family: 'Code Next Bold';
    font-size: 29px;
}

.header-content p {
    display: none;
}

.header-content button {
    width: 40vw;
    font-size: 12px;
    padding: 0.8rem;
    transition: 0.6s;
}

header .redes {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.redes {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.redes img {
    max-width: 20px;
}

.swipe-container {
    font-size: 12px;
    bottom: 2rem;
    left: 29.5%;
}

.section-title {
    align-self: center;
}

#SobreNos {
    height: auto;
    gap: 7vh;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6vh;
    padding: 0;
    padding-left: 0;
}

.info-container img {
    max-width: 150px;
}

.info-performee {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.info-performee h2 {
    font-size: 24px;
}

.info-performee p {
    text-align: right;
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 1rem;
    width: 100%;
}

.ethics-container {
    align-self: auto;
    width: 100%;
    margin-right: 0;
}

.ethics-container div img {
    max-width: 70px;
}

.ethics-container div:first-of-type span,
.ethics-container div:nth-of-type(2) span,
.ethics-container div:last-of-type span {
    font-size: 14px;
}

#Integrantes {
    height: auto;
}

.integrantes-container>div {
    flex-direction: column;
    justify-content: space-between;
    gap: 7vh;
}

.integrantes-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    background-color: rgb(116, 116, 131, 0.5);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    gap: 15vw;
    padding: 1rem;
}

.integrantes-info img {
    max-height: 90px;
    border-radius: 100%;
    border: none;
}

.integrantes-info div {
    gap: 10px;
}

.integrantes-info .redes {
    width: 100%;
}

.integrantes-info span {
    font-size: 13px;
}

.integrantes-info .redes img {
    max-width: 25px;
}

#Servicos {
    height: 285vh;
    padding: 4rem 2rem;
    gap: 6vh;
    overflow-x: hidden;
}

.servicos-info {
    justify-content: center;
}

#Servicos h1 {
    align-self: center;
}

.cards {
    flex-direction: column;
    gap: 8vw;
}

.servicos-info {
    width: 85%;
}

.servicos-info .topo {
    height: 50%;
}

.servicos-info .topo img {
    max-width: 170px;
}

.servicos-info:first-child .topo img {
    max-width: 150px;
}

.servicos-info .baixo {
    display: flex;
    align-items: center;
    height: 50%;
    font-size: 13px;
}

#Projeto {
    height: 180vh;
    padding: 2rem 1.9rem;
}

.half {
    display: grid;
    gap: 14vh;
}

.half p {
    display: flex;
    font-size: 13px;
    width: 220%;
}

.projeto-container .half:last-of-type img {
    max-width: 160px;
}

.projeto-container .half:last-of-type img:first-of-type {
    display: flex;
    top: 105vh;
    left: -13.5vh;
}

.projeto-container .half:last-of-type img:last-of-type {
    bottom: 0;
    right: 0;
    top: 27vh;
}

footer {
    width: 100%;
    height: 165vh;
    padding: 3rem 2rem 0 2rem;
}

.container-content {
    flex-direction: row-reverse;
    height: 100vh;
    gap: 4vw;
    padding: 5rem 0rem;
}

.container-content img {
    max-width: 80px;
    margin-top: 5vh;
}

.footer-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    gap: 15vw;
}

.footer-content ul {
    width: 80%;
    height: 130%;
}

.below-content {
    height: 50vh;
}

.below-content hr {
    width: 95%;
    height: 3px;
    color: #FFF;
    background-color: #FFF;
    border-radius: 2px;
    border: none;
}

.below-content .info-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}

.below-content .info-content div:last-of-type {
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}

.below-content .info-content div:last-of-type span {
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    height: 7vh;
}

.info-content .redes {
    justify-content: center;
    width: auto;
    gap: 10px;
}

.container-content a:last-of-type img {
    bottom: 1vh;
}