img {
    z-index: 3;
}

#Login {
    background-position: center;
    background-repeat: no-repeat;
}

.esquerda {
    position: absolute;
    top: 0;
    left: 0;
}

.esquerda>a:first-of-type,
.esquerda>a:first-of-type img,
.esquerda.showing>a:first-of-type,
.esquerda.showing>a:first-of-type img,
.direita.hide>a:first-of-type,
.direita.hide>a:first-of-type img {
    display: flex;
    position: absolute;
    top: .7rem;
    left: .7rem;
    max-width: 30px;
}

.esquerda img:first-of-type,
.direita img:first-of-type {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 40px;
}

.direita img:first-of-type,
.direita::after,
.esquerda::after,
.esquerda.showing img:first-of-type,
.esquerda.showing::after,
.esquerda.esquerda.showing img:last-of-type,
.esquerda * {
    display: none;
}

.direita::before {
    background-color: transparent;
}

.direita img:last-of-type,
.direita.hide img:last-of-type {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    max-width: 40px;
}

.direita .div_inputs,
.esquerda .div_inputs {
    gap: 3vh;
}

.direita input,
.esquerda input {
    width: 100%;
    font-size: 13px;
}

.direita .textos,
.direita .textos p,
.esquerda .textos,
.esquerda .textos p {
    text-align: start;
    align-items: start;
    width: 100%;
    height: auto;
    gap: 4vh;
}

.direita .textos h1,
.esquerda .textos h1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-size: 25px;
}

.direita .textos p,
.esquerda .textos p {
    font-size: 13px;
    gap: 10px;
}

.direita .submit-container,
.esquerda .submit-container {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
}

.submit-container button {
    width: 22vw;
}

.direita .submit-container .esqueci-senha,
.esquerda .submit-container .esqueci-senha {
    justify-content: center;
    width: 100%;
    font-size: 12px;
}

.direita,
.esquerda {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    gap: 2rem;
}

.esquerda::after,
.esquerda.showing::before {
    display: none;
}

@media (min-height: 700px) {
    .esquerda a img {
        top: 3rem;
        max-width: 45px;
    }

    .direita {
        gap: 10%;
    }

    .direita img {
        top: 3rem;
        max-width: 45px;
    }
}