img {
    z-index: 3;
}

#Login {
    background-position: center;
    background-repeat: no-repeat;
}

.esquerda {
    display: none;
}

.esquerda a img {
    top: 1rem;
    left: 1rem;
    max-width: 25px;
}

.esquerda img {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: 35px;
}

.esquerda::after {
    display: none;
}

.direita::before {
    background-color: transparent;
}

.direita img {
    position: absolute;
    right: 1rem;
    top: 1rem;
    max-width: 40px;
}

.div_inputs {
    gap: 3vh;
}

.direita input {
    width: 100%;
    font-size: 13px;
}

.textos {
    width: 100%;
    height: auto;
    gap: 4vh;
}

.textos h1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    font-size: 25px;
}

.textos p {
    font-size: 13px;
    gap: 10px;
}

.submit-container {
    width: 100%;
    flex-direction: column;
    gap: 5vh;
}

.submit-container button {
    width: 22vw;
}

.esqueci-senha {
    font-size: 12px;
}

.direita {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    gap: 2rem;
}

@media (min-height: 700px) {
    .direita {
        gap: 10%;
    }

    .direita img {
        top: 3rem;
        max-width: 45px;
    }
}