@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
    width: 100vw;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Code Next Bold';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Code Next Regular';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Regular.otf);
    font-weight: normal;
}

[element-anime] {
    opacity: 0;
    transition: .7s;
    z-index: -1;
}

[element-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[element-anime="appear"] {
    transform: translate3d(0, 0, 0);
}

[element-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[element-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[element-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[element-anime="bottom"] {
    transform: translate3d(0, 150px, 0);
}

[element-anime="bottomLeft-to-topRight"] {
    transform: translateY(100px) translateX(-100px);
}

[element-anime="topLeft-to-bottomRight"] {
    transform: translateY(-100px) translateX(-100px);
}

body {
    width: 100vw;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: #00000055;
    backdrop-filter: blur();
    box-shadow: 0px 23px 50px 0px rgba(0, 0, 0, 0.29), 0px 90px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
    border-radius: 50px;
}

body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, #747483 30%, #b4b5c4 70%);
}

a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 98vh;
    background-image: url(../assets/imgs/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 23px 50px 0px rgba(0, 0, 0, 0.79), 0px 90px 90px 0px rgba(0, 0, 0, 0.26), 0px 203px 122px 0px rgba(0, 0, 0, 0.15), 0px 362px 145px 0px rgba(0, 0, 0, 0.04), 0px 565px 158px 0px rgba(0, 0, 0, 0.01);
    gap: 5vh;
    padding: 2rem;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 98vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur();
    top: 0;
    left: 0;
}

header * {
    z-index: 2;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    padding: 2rem;
    margin-top: 2rem;
    top: 0;
    left: 0;
    z-index: 3;
    transition: 0.5s;
}

#Nav.ativa {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(00, 00, 00, 0.1);
    box-shadow: 0 8px 32px 0 rgba(00, 00, 00, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(7.5px);
    margin-top: 0;
    transition: 0.5s;
}

.menu-hamburguer {
    display: none;
}

nav img {
    width: 90px;
}

.navbar-options {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    gap: 3vw;
}

.navbar-options li a {
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right, #b4dcec, #b4dcec 50%, #FFF 50%);
    background-size: 200% 100%;
    background-position: -100%;
    font-weight: 500;
    padding: 5px 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.navbar-options li:last-of-type a {
    background-image: linear-gradient(to right, #b4b5c4, #747483 50%, #7f6e9b 50%) !important;
    font-weight: 900;
}

.navbar-options li a:hover {
    background-position: 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45vh;
    gap: 5vh;
}

.header-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.header-content p {
    width: 45%;
    line-height: 1.5rem;
    letter-spacing: 0, 5px;
    font-size: 19px;
    font-weight: lighter;
}

.header-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13vw;
    color: #000;
    letter-spacing: 1px;
    background-color: #747483AA;
    border: none;
    border-radius: 25px;
    padding: 1rem;
    transition: 0.6s;
    cursor: pointer;
}

.header-content button:hover {
    background-color: #747483;
    box-shadow: 1px 3px 7px 0px rgba(116, 116, 131, 0.10), 3px 12px 13px 0px rgba(116, 116, 131, 0.09), 6px 28px 17px 0px rgba(116, 116, 131, 0.05), 11px 49px 20px 0px rgba(116, 116, 131, 0.01), 18px 77px 22px 0px rgba(116, 116, 131, 0.00);
}

.redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5vw;
    gap: 2vw;
}

.redes img {
    max-width: 30px;
}

.redes img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.6s;
}

[data-theme='transparent'] {
    background-color: #FFFFFF22;
    color: #FFF;
}

[data-theme='transparent-alter'] {
    background-color: #b4b5c4;
    color: #FFF;
}

header .redes {
    position: absolute;
    bottom: 5vh;
    right: 11.5vw;
}

.swipe-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    gap: 1vh;
    bottom: 5vh;
    left: 42%;
}

.swipe-container p {
    animation: wipe-up 4s ease-in-out infinite;
}

.swipe-container img {
    max-width: 25px;
    animation: jump 4s ease-in-out infinite;
}

@keyframes wipe-up {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes jump {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-6px);
    }

    60% {
        transform: translateY(-5px);
    }
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 15px;
    padding: 4rem 2rem;
}

#SobreNos {
    height: 105vh;
}

#SobreNos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 8.2%;
    background-image: url(../assets/waves/wave-top-integrantes.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.section-title {
    color: #0493B1;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 4vw;
    padding: 10px 2rem 0 2rem;
    padding-left: 4rem;
}

.info-container img {
    max-width: 270px;
}

.info-performee {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.info-performee h2 {
    color: #0493B1;
    font-size: 29px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.info-performee p {
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    width: 75%;
}

.ethics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    width: 55%;
    margin-right: 2rem;
}

.ethics-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.ethics-container div img {
    max-width: 100px;
}

.ethics-container div:first-of-type span {
    color: #FFF3A9;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.ethics-container div:nth-of-type(2) span {
    color: #FF97BF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.ethics-container div:last-of-type span {
    color: #CDB3FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 21px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

#Integrantes {
    height: 125vh;
    background: linear-gradient(180deg, #096B85 100%, #0493B1 75%);
    gap: 10vh;
}

#Integrantes h1 {
    color: #FFF;
    align-self: center;
}

.integrantes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5vh;
}

.integrantes-container>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 7vw;
}

.integrantes-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.integrantes-info>img {
    max-height: 200px;
    border-radius: 100%;
    border: #747483 dashed 7px;
}

.integrantes-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.integrantes-info .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 9vw;
    gap: 5px;
}

.integrantes-info span {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-weight: bold;
}

.integrantes-info .redes img {
    max-width: 30px;
}

#Servicos::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15vh;
    background-image: url(../assets/waves/wave-bottom-integrantes.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

#Servicos::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30vh;
    background-image: url(../assets/waves/wave-top-project.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#Servicos {
    height: 135vh;
    align-items: center;
    padding: 19vh 2rem 8vh 2rem;
    gap: 5vh;
}

#Servicos h1 {
    align-self: end;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.servicos-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    height: 70vh;
    width: 20vw;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 20px;
    transition: 0.6s !important;
    overflow: hidden;
}

.servicos-info:hover {
    transform: translate3d(-1vw, -3vh, 0) scale(1.05) !important;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    box-shadow: 3px 6px 15px 0px rgba(0, 0, 0, 0.39), 13px 24px 27px 0px rgba(0, 0, 0, 0.34), 30px 54px 37px 0px rgba(0, 0, 0, 0.20), 53px 95px 44px 0px rgba(0, 0, 0, 0.06), 82px 149px 48px 0px rgba(0, 0, 0, 0.01) !important;
    transition: 0.6s !important;
    cursor: default;
}

.cards.hovered>.servicos-info:not(:hover) {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset !important;
    opacity: 0.5;
}

.servicos-info .topo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: #C7E5F1;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.servicos-info .topo img {
    max-width: 250px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.servicos-info:first-child .topo img {
    max-width: 210px;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
}

.servicos-info .baixo {
    background-color: transparent;
    height: 40%;
    color: #000;
    font-size: 14px;
    padding: 20px;
}

#Projeto {
    height: 85vh;
    background: linear-gradient(90deg, #0493B1 0%, #096B85 100%);
    padding: 2rem 4rem;
    z-index: 2;
}

#Projeto h1 {
    color: white;
}

.projeto-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.half {
    position: relative;
    width: 45%;
}

.half p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    width: 85%;
}

.projeto-container .half:last-of-type {
    height: 75vh;
    width: 50%;
    z-index: 2;
}

.projeto-container .half:last-of-type img {
    position: absolute;
    max-width: 350px;
}

.projeto-container .half:last-of-type img:first-of-type {
    top: -15vh;
    left: 0;
}

.projeto-container .half:last-of-type img:last-of-type {
    bottom: 0;
    right: 0;
}

#Footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30vh;
    background-image: url(../assets/waves/wave-bottom-projeto.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

footer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 110vh;
    background: linear-gradient(0deg, rgba(180, 220, 236, 1) 28.56%, rgba(255, 255, 255, 0.90) 76.1%);
    gap: 15px;
    padding: 10rem 2rem 0 2rem;
}

.container-content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50vh;
    gap: 10vw;
    padding: 1rem 4rem;
}

.container-content img {
    align-self: flex-start;
    max-width: 160px;
    width: auto;
    height: auto;
}

.footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2vw;
}

.footer-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 33%;
    height: 100%;
    font-size: 15px;
    font-weight: 500;
}

.footer-content ul li,
.footer-content ul li a {
    color: #096B85;
    cursor: pointer;
}

.footer-content ul li:first-of-type {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    -webkit-text-stroke-width: .6px;
    -webkit-text-stroke-color: #0493B1;
    margin-bottom: 2px;
    cursor: auto;
}

.below-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15vh;
    gap: 5vh;
}

.below-content hr {
    width: 90%;
    height: 3px;
    color: #FFF;
    background-color: #FFF;
    border-radius: 2px;
    border: none;
}

.below-content .info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
}

.below-content .info-content div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}

.below-content .info-content div:last-of-type span {
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.info-content .redes {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5vw;
    gap: 1rem;
}

.info-content .redes img {
    max-width: 35px;
}

.container-content a:last-of-type img {
    max-width: 40px;
    position: absolute;
    bottom: 3vh;
    right: 3vw;
    cursor: pointer;
    animation: jump 4s ease-in-out infinite;
}