@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

html {
    scroll-padding-top: 7vh;
    scroll-behavior: smooth;
    width: 100vw;
}

.select-disable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Code Next Bold';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Code Next Regular';
    src: url(../assets/fonts/code_next/CodeNext-Trial-Regular.otf);
    font-weight: normal;
}

[element-anime] {
    opacity: 0;
    transition: .7s;
    z-index: -1;
}

[element-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[element-anime="appear"] {
    transform: translate3d(0, 0, 0);
}

[element-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[element-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[element-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[element-anime="bottom"] {
    transform: translate3d(0, 150px, 0);
}

[element-anime="bottomLeft-to-topRight"] {
    transform: translateY(100px) translateX(-100px);
}

[element-anime="topLeft-to-bottomRight"] {
    transform: translateY(-100px) translateX(-100px);
}

body {
    width: 100vw;
    height: auto;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    scrollbar-width: thin;
    overflow-x: hidden;
}

#Login {
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    background-image: url('../assets/imgs/fundo-admin-login.jpg');
    background-size: cover;
    background-blend-mode: multiply;
}

.esquerda {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 50%;
    gap: 3vh;
    background-color: transparent;
    padding: 4rem;
    transition: .7s;
}

.esquerda.showing::before {
    content: '';
    background-color: #000;
    opacity: 60%;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.esquerda *,
.esquerda>div button,
.esquerda.showing>a:first-of-type,
.esquerda.showing>a:first-of-type img,
.esquerda.showing img:first-of-type,
.esquerda.showing::after {
    display: none;
}

.esquerda.showing *,
.esquerda.showing img:last-of-type {
    display: flex;
}

.esquerda>a:first-of-type,
.esquerda>a:first-of-type img {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 40px;
}

.esquerda img:first-of-type {
    display: flex;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    max-width: 45px;
}

.esquerda img:last-of-type {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 50px;
    cursor: pointer;
}

.esquerda #ChangeLeft {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 50px;
}

.esquerda .submit-container {
    align-self: flex-end;
    justify-content: flex-end;
}

.esquerda .submit-container .esqueci-senha {
    justify-content: flex-end;
}

.esquerda .div_inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 7vh;
}

.esquerda .textos,
.esquerda .textos p {
    justify-content: flex-start;
    align-items: end;
    text-align: end;
}

.esquerda::after {
    content: '';
    height: 100vh;
    width: 8vw;
    background-image: url('../assets/waves/wave-login.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
}

.direita::before {
    content: '';
    background-color: #000;
    opacity: 60%;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.direita.hide::after {
    content: '';
    height: 100vh;
    width: 8vw;
    background-image: url('../assets/waves/wave-login-inverted.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
}

.direita {
    /* backdrop-filter: blur(6px); */
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 50%;
    gap: 3vh;
    background-color: transparent;
    padding: 4rem;
}

.direita.hide *,
.direita.hide img:last-of-type,
.direita.hide::before {
    display: none;
}

.direita.hide img:first-of-type,
.direita.hide>a:first-of-type,
.direita.hide>a:first-of-type img {
    display: flex;
}

.direita img:first-of-type {
    display: none;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    max-width: 50px;
}

.direita img:last-of-type {
    position: absolute;
    right: 20px;
    top: 20px;
    max-width: 50px;
    cursor: pointer;
}

.direita>a:first-of-type,
.direita>a:first-of-type img {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 40px;
}

.direita>*,
.esquerda>* {
    z-index: 3;
}

.div_inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7vh;
}

.direita input::placeholder,
.esquerda input::placeholder {
    color: #FFF;
    user-select: none;
}

.direita input,
.esquerda input {
    width: 80%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #FFF !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem;
    color: #FFF;
    outline: none;
    font-size: 15px;
    transition: 0.6s;
}

.direita input:hover,
.esquerda input:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.6s;
}

.direita input:focus,
.esquerda input:focus {
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.textos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    gap: 3vh;
}

.textos h1 {
    font-size: 37px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.textos p {
    width: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submit-container {
    height: 10vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.submit-container button {
    display: flex;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 8vw;
    background-color: #B4DCEC;
    color: #096B85;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.esqueci-senha {
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}